<nav class="navbar navbar-expand-lg bg-transparent">
    <div class="container-fluid border-red d-flex justify-content-between">
        <a class="navbar-brand" href="/">
            <img src="/logo-3w.svg" height="50" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" style="" id="navbarNavAltMarkup">
            <div class="navbar-nav d-flex gap-4">
                <a class="nav-link active text-white" aria-current="page" href="#">About</a>
                <a class="nav-link text-white" href="#">Features</a>
                <a class="nav-link text-white" href="#">Pricing</a>
                <a class="nav-link text-white">Contact</a>
                <a class="nav-link text-white bg-blue fw-bold px-3 py-2 d-flex align-items-center" style="border-radius: 15px">DOWNLOAD APP</a>
            </div>
        </div>
    </div>
</nav>