<div>
    <p>At LegalDebt, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, and safeguard the information you provide when using our application.</p>
    <ol>
        <li>
            <strong>Information We Collect</strong>
            We may collect the following types of information:
            <ul>
                <li>Personal information such as your name, email address, and contact details, which you provide voluntarily when registering or using our application.</li>
                <li>Financial information related to client payments, which is securely stored for tracking and reporting purposes.</li>
            </ul>
        </li>
        <li>
            <strong>Use of Information</strong>
            We use the collected information for the following purposes:
            <ul>
                <li>To provide and maintain our services to you, including managing client records and payment tracking.</li>
                <li>To improve and enhance our application's functionality and user experience.</li>
                <li>To communicate with you regarding updates, important notices, and support-related matters.</li>
            </ul>
        </li>
        <li>
            <strong>Data Security</strong>
            We prioritize the security of your information and take appropriate measures to protect it against unauthorized access, loss, or alteration. We implement industry-standard security practices and utilize encryption technologies to safeguard your data.
        </li>
        <li>
            <strong>Data Sharing</strong>
            We do not disclose your personal information to third parties unless required by law or with your explicit consent. We may, however, share anonymized and aggregated data for analytical and reporting purposes.
        </li>
        <li>
            <strong>Data Retention</strong>
            We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law.
        </li>
        <li>
            <strong>Your Rights</strong>
            You have the right to access, correct, update, or delete your personal information. You can do so by accessing your account settings within the application or by contacting our support team.
        </li>
        <li>
            <strong>Updates to the Privacy Policy</strong>
            We may update this Privacy Policy from time to time. We will notify you of any significant changes and seek your consent if required by applicable laws.
        </li>
        <li>
            <strong>Contact Us</strong>
            If you have any questions, concerns, or requests regarding this Privacy Policy, please contact us at [email address] or through our support channels.
        </li>
    </ol>

</div>
@code {

}
