@inherits LayoutComponentBase

<div class="" style="background-color: rgba(0,0,25,1); color: white; font-size: 0.8em; line-height: 2em; letter-spacing: 0.1em">
    <div class="container-xl p-0 pt-3">
        <NavMenu />
    </div>

    <main class="container-xl">
        @Body
    </main>

    <div>
        <Footer></Footer>
    </div>
</div>
