@page "/"

<PageTitle>Index</PageTitle>



<div class="d-flex justify-content-center flex-column align-items-center mt-5">
    <h2 style="font-size:2.6em">We’ve updated you to the latest build</h2>

    <h3 class="mt-2">This is LegalDebt Version 1.0.02</h3>
    <h2 class="mt-4">Here is whats happening</h2>
    <RadzenTabs TabPosition="TabPosition.Top">
        <Tabs>
            <RadzenTabsItem style="font-size: 0.3em" Text="New">
                <div>Hie</div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Known-Issues">
                <div>Heyy</div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Coming Up">
                <div>Woo</div>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Learn More">
                <div>Woo</div>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</div>
