@page "/newfile/existingclient"

<h3>Create a new File for an existing client</h3>
<div class="row d-flex justify-content-center">
    <form class="p-5 col-7 mt-5" style="box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);">
        <section class="d-flex w-100 mb-3 flex-column gap-4">
@*            <div class="col-12 mb-4 gap-5 d-flex justify-content-center">
                <div class="fw-bold p-0 fs-5 text-decoration-underline col-12 col-md-6">
                    OPEN NEW FILE
                </div>
                <div class="d-none d-md-block col-3"></div>
            </div>*@
            <div class="w-100 d-flex gap-4 justify-content-center">
                <div class="col-10">
                    <RadzenFormField class="disabled" Text="Select Client" Style="width: 100%;font-size:0.8em; color:gray">
                        <div class="rz-p-sm-8 rz-text-align-center">
@*                            <RadzWenDropDown AllowClear="true" @bind-Value=clientID AllowVirtualization="true"
                                            AllowFiltering="true" Data=@clients TextProperty="FullName" ValueProperty="Id" Style="width: 100%; max-width: 400px;" />*@
                            <RadzenDropDownDataGrid class="col-7"  @bind-Value=@clientID Data=@clients TextProperty="FullName" ValueProperty="Id"
                                                    AllowColumnResize="true"  AllowFilteringByAllStringColumns="true">
                                <Columns>
                                    <RadzenDropDownDataGridColumn Property="FirstNames" Title="Name" Width="100px" />
                                    <RadzenDropDownDataGridColumn Property="LastName" Title="Surname" Width="100px" />
                                    <RadzenDropDownDataGridColumn Property="Id" Title="ID" Width="60px" />
                                    <RadzenDropDownDataGridColumn Property="City" Title="City" Width="100px" />
                                    <RadzenDropDownDataGridColumn Property="Country" Title="Country" Width="100px" />
                                </Columns>
                            </RadzenDropDownDataGrid>
                        </div>
                    </RadzenFormField>
                </div>
            </div>
            <div class="col-12 gap-5 d-flex justify-content-center">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Class="col-12 col-md-6 m-0">
                    <RadzenSelectBar @bind-Value="@variant" TextProperty="Text" ValueProperty="Value" Data="@(Enum.GetValues(typeof(Variant)).Cast<Variant>().Select(t => new { Text = $"{t}", Value = t }))" Size="ButtonSize.Small" Class="rz-display-none rz-display-xl-flex" />
                    <RadzenDropDown @bind-Value=@caseTypes Data=@caseCategories TextProperty="Name" ValueProperty="Id"
                                    Multiple=true AllowClear=true Placeholder="Applicable Categories" Chips=true Style="width: 100%; max-width: 400px;" />
                </RadzenStack>
                <div class="d-none d-md-block col-3"></div>
            </div>
            <div class="w-100 d-flex gap-4 justify-content-center">
                <div class="col-12 col-md-3">
                    <RadzenFormField Text="File ID" Style="width: 100%;font-size:0.8em; color:gray">
                        <RadzenTextBox @bind-Value="@firstName" Style="width: 100px; max-width: 400px; font-size:1em; color: black; height: 35px" />
                    </RadzenFormField>
                </div>
                <div class="col-12 col-md-3">
                    <RadzenFormField Text="Amount to be Paid" Style="width: 100%;">
                        <RadzenNumeric Style="font-size:0.7em; height: 35px; max-width: 400px;" TValue="double" Format="N$ ###" @bind-Value=@amountToBePaid />
                    </RadzenFormField>
                </div>
                <div class="col-12 col-md-3">
                    <RadzenFormField Text="Total Paid" Style="width: 100%;font-size:0.8em; color:gray">
                        <RadzenNumeric Style="font-size:0.7em; max-width: 400px; height: 35px" TValue="double" Format="N$ ###" @bind-Value=@amountPaid />
                    </RadzenFormField>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div class="col-6">
                    <RadzenButton class="mt-4 w-100" style="height: 40px" Icon="save" BusyText="Saving ..." IsBusy=@busy Click=@OnBusyClick Text="Save" />
                </div>
            </div>
        </section>
    </form>
</div>


@code {
    int clientID;
    IList<int> caseTypes = new int[] { };
    bool busy;
    Variant variant = Variant.Outlined;
    String title = "Title";
    String firstName = "";
    String fileID = "";
    DateTime? birthDay;
    double amountToBePaid = 0.0;
    double amountPaid = 0.0;
    string selectedTitle = "";
    string phoneNumber = "";

    List<string> titles = new List<string> { "Mr", "Mrs", "Other" };
    List<string> lawFirms = new List<string> { };
    List<CaseCategory> caseCategories = new List<CaseCategory>
    {
        new CaseCategory{ Id = 1, Name = "Property"},
        new CaseCategory{ Id = 2, Name = "Monetary"},
        new CaseCategory{ Id = 3, Name = "Title"},
        new CaseCategory{ Id = 4, Name = "Land"},
    };
    async Task OnBusyClick()
    {
        busy = true;
        await Task.Delay(2000);
        busy = false;
    }
    IEnumerable<Client> clients = new List<Client>
    {
        new Client() { Id= 1, FirstNames = "Gerhardus", LastName = "Gaoseb", FullName = "Gerhardus Gaoseb", TitleOfCourtesy = "Mr", CurrentCompany = "Ikanga Legal Practitioners", City = "Windhoek", Country = "Namibia", Email = "jknox@gmail.com"},
        new Client() { Id= 2, FirstNames = "Bra", LastName = "G", FullName = "Bra G", TitleOfCourtesy = "Mr", CurrentCompany = "Facebook.com", City = "Windhoek", Country = "Namibia", Email = "jknox@gmail.com"},
        new Client() { Id= 3, FirstNames = "Jean", LastName = "Claude", FullName = "Jean Claude", TitleOfCourtesy = "Mrs", CurrentCompany = "Exodus Legal Practitioners", City = "Windhoek", Country = "Namibia", Email = "jknox@gmail.com"},
        new Client() { Id= 4, FirstNames = "Hans", LastName = "Detriecht", FullName = "Hans Detriecht", TitleOfCourtesy = "Mr", CurrentCompany = "Shoprite", City = "Windhoek", Country = "Namibia", Email = "jknox@gmail.com"},
        new Client() { Id= 5, FirstNames = "Payet", LastName = "Dimitry", FullName = "Payet Dimitry", TitleOfCourtesy = "Mrs", CurrentCompany = "Legal Wise", City = "Windhoek", Country = "Namibia", Email = "jknox@gmail.com"},
        new Client() { Id= 6, FirstNames = "Maritjie", LastName = "HR", FullName = "Maritjie HR", TitleOfCourtesy = "Mr", CurrentCompany = "Ikanga Legal Practitioners", City = "Windhoek", Country = "Namibia", Email = "jknox@gmail.com"},
        new Client() { Id= 7, FirstNames = "Trent", LastName = "Arnold", FullName = "Trent Arnold", TitleOfCourtesy = "Mrs", CurrentCompany = "Telecom Namibia", City = "Windhoek", Country = "Namibia", Email = "jknox@gmail.com"},
        new Client() { Id= 8, FirstNames = "Phillipe", LastName = "Coutinho", FullName = "Phillipe Coutinho", TitleOfCourtesy = "Mr", CurrentCompany = "Ikanga Legal Practitioners", City = "Windhoek", Country = "Namibia", Email = "jknox@gmail.com"},
        new Client() { Id= 9, FirstNames = "William", LastName = "Carvalho", FullName = "William Carvalho", TitleOfCourtesy = "Mrs", CurrentCompany = "Microsoft", City = "Windhoek", Country = "Namibia", Email = "jknox@gmail.com"},
        new Client() { Id= 10, FirstNames = "Cristiano", LastName = "Ronaldo", FullName = "Critiano Ronaldo", TitleOfCourtesy = "Mr", CurrentCompany = "Ikanga Legal Practitioners", City = "Windhoek", Country = "Namibia", Email = "jknox@gmail.com"},
        new Client() { Id= 11, FirstNames = "Matheus", LastName = "Louthaus", FullName = "Matheus Louthaus", TitleOfCourtesy = "Mr", CurrentCompany = "Google", City = "Windhoek", Country = "Namibia", Email = "jknox@gmail.com"},
        new Client() { Id= 12, FirstNames = "Marius", LastName = "Bloodstan", FullName = "Marius Boodstan", TitleOfCourtesy = "Mrs", CurrentCompany = "Ikanga Legal Practitioners", City = "Windhoek", Country = "Namibia", Email = "jknox@gmail.com"}
    };
}
