@page "/register"

<div class="d-flex pt-5 flex-column justify-content-center w-100 align-items-center">
    <h1>Create an Account</h1>
    <h2 class="mb-5">Sign up now and unlock exclusive access!</h2>

    <form class="w-75 d-flex flex-column gap-3" style="max-width:40em">
        <div>
            <label style="line-height:1em; font-size:small">Organisation Name</label>
            <input class="form-control form-control-lg" type="text" />
        </div>
        <div>
            <label style="font-size:small">Phone Number</label>
            <input class="form-control form-control-lg" type="number">
        </div>
        <div>
            <label style="font-size:small">Password</label>
            <input class="form-control form-control-lg" type="password">
        </div>
        <div>
            <label style="font-size:small">Re-enter Password</label>
            <input class="form-control form-control-lg" type="password" />
        </div>
        <a class="btn btn-lg btn-primary w-100 mt-3" style="border:1px solid silver">SUBMIT</a>
    </form>

</div>

@code {

}
