<section class="py-5" style="background: repeating-linear-gradient(45deg, rgba(0,0,0,0), rgba(100,100,100,1));">
    <div class="container">
        <div class="d-flex justify-content-between align-items-start">
            <div class="d-flex flex-column">
                <img src="/logo-3w.png" />
                <ul class="list-unstyled ps-3 gap-4 d-flex flex-column pt-5">
                    <li>
                        <i class="fa me-2 fa-message"></i>
                        enquiries@legaldebt.com
                    </li>
                    <li>
                        <i class="fa me-2 fa-phone-alt"></i>
                        264 81 345 2452
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-column">
                <h3 class="mb-3 fw-bolder fs-2">Home</h3>
                <ul class="list-unstyled d-flex flex-column gap-4">
                    <li>
                        Accessibility
                    </li>
                    <li>
                        Certification
                    </li>
                    <li>Knowledge Base</li>
                    <li>Documentation</li>
                    <li>User Group</li>
                </ul>
            </div>
            <div class="d-flex flex-column">
                <h3 class="mb-3 fw-bolder fs-2">Pages</h3>
                <ul class="list-unstyled d-flex flex-column gap-4">
                    <li>
                        Blogs
                    </li>
                    <li>
                        Careers
                    </li>
                    <li>Communities</li>
                    <li>Webinars</li>
                    <li>Videos</li>
                </ul>
            </div>
            <div class="d-flex flex-column">
                <h3 class="mb-3 fw-bolder fs-2">Our Address</h3>
                <ul class="list-unstyled d-flex flex-column gap-4">
                    <li>
                        <i class="fa fa-location"></i>
                        Shoprite Katutura, Windhoek Namibia
                    </li>
                    <li class="">
                        <ul class="list-unstyled d-flex gap-3 ms-2 fs-3">
                            <li><i class="fa fa-google"></i></li>
                            <li><i class="fa fa-twitter"></i></li>
                            <li><i class="fa fa-instagram"></i></li>
                            <li><i class="fa fa-linkedin"></i></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-100 d-flex mt-5 p-0 pt-3 justify-content-around">
            <div class="m-0">
                Copyright ©2023 LegalDebt. All Rights Reserved
            </div>

            <ul class="d-flex align-items-center list-unstyled gap-5">
                <li>Home</li>
                <li>Team</li>
                <li>Privacy Policy</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>
</section>