<section class="my-4">
    <div class="d-flex justify-content-center flex-wrap flex-md-nowrap overflow-hidden">
        <div class="d-flex ms-md-4 align-items-start flex-column justify-content-center flex-fill order-last order-md-0" style="">
            <div class="d-flex align-items-center gap-4 mb-3">
                <div class="px-4 d-flex align-items-center py-1 justify-content-center bg-white text-black" style="border-radius: 3px">
                    Welcome to LegalDebt
                </div>
                <div>
                    <i class="fa fa-star" style="color: gold"></i>
                    <i class="fa fa-star" style="color: gold"></i>
                    <i class="fa fa-star" style="color: gold"></i>
                    <i class="fa fa-star" style="color: gold"></i>
                    <i class="fa fa-star me-2" style="color: gold"></i>
                    4900+ 5 Stars
                </div>

            </div>
            <h1 class="fw-bolder" style="font-size: 3.6em">
                Experience the power of <strong class="text-primary">data-driven</strong> decision making for your law <br />firm
            </h1>
            <p class="mb-4 mt-2" style="color: silver">
                Backed with vast experience and fully up to date skills set.
                <a class="text-white fw-bold" style="cursor: pointer">G Mobility</a> software provides the most advanced E-Prescription solutions in the market.
            </p>
            <div class="d-flex gap-3">
                @code {
                    String email = "";
                }
                <InputText @bind-Value="email" class="py-2 px-3" style="min-width: 24em; border-radius: 3px" placeholder="Enter your email"></InputText>
                <button class="px-5 text-white bg-blue onhover-opacity-90" style="border-radius: 5px;border: none">Get Started</button>
            </div>
        </div>
        <div class="home-right col-lg-6 d-flex justify-content-end align-items-end">
            <img src="/home-objects.svg" style="width: 100%;" />
        </div>
    </div>
</section>