<section class="container my-5 d-flex justify-content-center py-5">
    <div class="d-flex bg-blue flex-column text-black my-4 justify-content-center align-items-center col-10 newsletter py-5" style="border-radius: 30px">
        <h2 class="fw-bolder mb-3" style="font-size: 3em">Sign up to our newsletter</h2>
        <p>
            Receive latest news, updates and many other
            news every week.
        </p>
        <div class="d-flex mt-4 pe-2 align-items-center gap-2" style="background-color: black; width: 400px; height: 3em; border-radius: 20px">
            <input placeholder="Enter your email address" class="px-3 flex-fill" style="border-radius: 21px; height: 100%; background-color: transparent; color: white; box-shadow:none; outline: none; border: none" type="text" />
            <i class="fa fa-arrow-alt-circle-right fs-2 text-primary onhover-opacity-90"></i>
        </div>
    </div>
</section>