<section class="mt-5 pt-5">
    <div class="d-flex flex-column align-items-center">
        <h2 class="text-center">Frequently Asked Questions</h2>
        <p class="mb-5 mt-3">Here, we've compiled a list of common queries to provide you with quick answers and helpful information.</p>
    </div>
    <div class="d-flex flex-wrap gap-4 align-items-center justify-content-center justify-content-md-between">
        <div class="accordion accordion-flush card-x2 col-11" id="accordionFlushExample">
            <div class="accordion-item bg-transparent" style="">
                <h2 class="accordion-header">
                    <button style="background-color: transparent !important; border: 1px solid white; color: white !important" class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
                        How can I sign up for a subscription plan?
                    </button>
                </h2>
                <div id="flush-collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush card-x2 col-11" id="accordionFlushExample">
            <div class="accordion-item bg-transparent" style="">
                <h2 class="accordion-header">
                    <button style="background-color: transparent !important; border: 1px solid white; color: white !important" class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
                        How secure is my data within Legal Debt?
                    </button>
                </h2>
                <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush card-x2 col-11" id="accordionFlushExample">
            <div class="accordion-item bg-transparent" style="">
                <h2 class="accordion-header">
                    <button style="background-color: transparent !important; border: 1px solid white; color: white !important" class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                        What payment methods do you accept?
                    </button>
                </h2>
                <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush card-x2 col-11" id="accordionFlushExample">
            <div class="accordion-item bg-transparent" style="">
                <h2 class="accordion-header">
                    <button style="background-color: transparent !important; border: 1px solid white; color: white !important" class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
                        Can I access Legal Debt on mobile devices?
                    </button>
                </h2>
                <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush card-x2 col-11" id="accordionFlushExample">
            <div class="accordion-item bg-transparent" style="">
                <h2 class="accordion-header">
                    <button style="background-color: transparent !important; border: 1px solid white; color: white !important" class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
                        How does the document summarization feature work?
                    </button>
                </h2>
                <div id="flush-collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush card-x2 col-11" id="accordionFlushExample">
            <div class="accordion-item bg-transparent" style="">
                <h2 class="accordion-header">
                    <button style="background-color: transparent !important; border: 1px solid white; color: white !important" class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
                        What happens if I need more user licenses for my team?
                    </button>
                </h2>
                <div id="flush-collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush card-x2 col-11" id="accordionFlushExample">
            <div class="accordion-item bg-transparent" style="">
                <h2 class="accordion-header">
                    <button style="background-color: transparent !important; border: 1px solid white; color: white !important" class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
                        What support options are available if I need assistance?
                    </button>
                </h2>
                <div id="flush-collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
            </div>
        </div>
        <div class="accordion accordion-flush card-x2 col-11" id="accordionFlushExample">
            <div class="accordion-item bg-transparent" style="">
                <h2 class="accordion-header">
                    <button style="background-color: transparent !important; border: 1px solid white; color: white !important" class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
                        Can I cancel my subscription at any time?
                    </button>
                </h2>
                <div id="flush-collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column my-5 align-items-center">
        <h3>Still have a question?</h3>
        <p>If you have any further questions or need assistance, please don't hesitate to contact us</p>
        <div class="bg-blue px-5 py-2 onhover-opacity-90">Contact Us</div>
    </div>
</section>