<section class="d-flex my-5 px-3 gap-5 flex-wrap flex-md-nowrap py-5">
    <div class="flex-fill d-flex flex-column gap-2">
        <h2 style="font-size: 3.4em" class="p-0">
            How we support our clients all over the world
        </h2>
        <p>
            Our dedicated support team is available to assist you every step of the way, whether you have questions about the application's features,
            need technical guidance, or require assistance with any aspect of your legal debt management.
            With our unwavering commitment to providing timely, efficient, and personalized support, we strive to empower legal professionals across
            the globe to streamline their processes, maximize productivity, and achieve greater success in managing their clients' debt.
        </p>
        <div class="d-flex gap-5">
            <div class="d-flex flex-column gap-2">
                <div>
                    <i class="fa fa-star" style="color: gold"></i>
                    <i class="fa fa-star" style="color: gold"></i>
                    <i class="fa fa-star" style="color: gold"></i>
                    <i class="fa fa-star" style="color: gold"></i>
                    <i class="fa fa-star" style="color: gold"></i>
                </div>
                <div>
                    5 / 5 rating
                </div>
                <label>databricks</label>
            </div>
            <div class="d-flex flex-column gap-2">
                <div>
                    <i class="fa fa-star" style="color: gold"></i>
                    <i class="fa fa-star" style="color: gold"></i>
                    <i class="fa fa-star" style="color: gold"></i>
                    <i class="fa fa-star" style="color: gold"></i>
                    <i class="fa fa-star" style="color: gold"></i>
                </div>
                <div>
                    5 / 5 rating
                </div>
                <label>Chainanalysis</label>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-11 d-flex flex-column gap-3" style="line-height: 1.5em">
        <div class="d-flex gap-3">
            <div class="d-flex align-items-center justify-content-center" style="min-width: 3.5em; max-height: 3.5em; background-color: white; border-radius: 2px">
                <i class="fa fa-2x fa-pagelines text-black"></i>
            </div>
            <div>
                <h4>Streamlined Case Management</h4>
                <p>Simplify your workflow, minimize risks, and avoid conflicts by efficiently managing client cases within our platform.</p>
            </div>
        </div>
        <div class="d-flex gap-3">
            <div class="d-flex align-items-center justify-content-center" style="min-width: 3.5em; max-height: 3.5em; background-color: white; border-radius: 2px">
                <i class="fa fa-2x fa-pie-chart text-black"></i>
            </div>
            <div>
                <h4>10x Your Research Capacity</h4>
                <p>Say goodbye to hours of manual research. Exponential legal research with our advanced AI integration that enables you to gain valuable insights faster than ever before.</p>
            </div>
        </div>
        <div class="d-flex gap-3">
            <div class="d-flex align-items-center justify-content-center" style="min-width: 3.5em; max-height: 3.5em; background-color: white; border-radius: 2px">
                <i class="fa fa-2x fa-line-chart text-black"></i>
            </div>
            <div>
                <h4>Advanced Analytics</h4>
                <p>Track key metrics such as total debt, average debt per client, average time to recovery, and monthly financial performance</p>
            </div>
        </div>
    </div>
</section>