@page "/pricing"


<div>
    <h1>Pricing</h1>
    <p>Gain access to a range of personalized resources and priority support that will take your experience to the next level.</p>
    <div>
        <div>
            <div>
                <img src="/pricing-icon1.svg" />
            </div>
            <label>Transfer Files</label>
        </div>
        <div>
            <div>
                <img src="/pricing-icon2.svg" />
            </div>
            <label>Advanced Analytics</label>
        </div>
        <div>
            <div>
                <img src="/pricing-icon3.svg" />
            </div>
            <label>Debt Reviews</label>
        </div>
        <div>
            <div>
                <img src="/pricing-icon4.svg" />
            </div>
            <label>Sync Documents</label>
        </div>
    </div>
</div>

<div>
    <div class="d-flex flex-wrap flex-md-nowrap gap-4 gap-md-2 justify-content-md-between justify-content-center mt-5">


        <div class="card-x3 col-11 px-4 py-4 d-flex flex-column" style="background-color: black; border: 1px solid white; border-radius: 7px">
            <div class="d-flex mt-3 mb-4 gap-3 align-items-center">
                <div class="bg-blue px-4 py-1 fs-6" style="border-radius: 30px">Starter</div>
            </div>
            <div class="d-flex align-items-baseline">
                <h3>N$2500</h3>
                <span class="ms-2" style="color: rgb(180,190, 255, 0.7)"> /billed yearly</span>
            </div>
            <p class="my-3" style="color: rgb(180,190, 255, 0.7)">Ideal for growing firms, our Starter plan provides the essential features.</p>
            <label class="mt-1 mb-2"><strong>FEATURES</strong></label>
            <ul class="list-unstyled mb-3 flex-fill flex-grow-1 d-flex flex-column gap-3">
                <li class="d-flex align-items-center gap-2">
                    <i class="fa fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    Get 3 Free User Licences
                </li>
                <li class="d-flex align-items-center gap-2">
                    <i class="fa  fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    Comes without free Cell Number
                </li>
                <li class="d-flex align-items-center gap-2">
                    <i class="fa fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    2Gb Free Storage space
                </li>
                <li class="d-flex align-items-center gap-2">
                    <i class="fa fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    Premium Support
                </li>
            </ul>
            <div class="w-100 mt-4 d-flex justify-content-center">
                <a class="px-5 text-black py-2 bg-blue onhover-opacity-90" style="border-radius: 20px;">CONTACT US</a>
            </div>
        </div>








        <div class="card-x3 col-11 px-4 py-4 d-flex flex-column" style="background-color: black; border: 1px solid white; border-radius: 7px">
            <div class="d-flex mt-3 mb-4 gap-3 align-items-center">
                <div class="bg-blue px-4 py-1 fs-6" style="border-radius: 30px">Standard</div>
            </div>
            <div class="d-flex align-items-baseline">
                <h3>N$5000</h3>
                <span class="ms-2" style="color: rgb(180,190, 255, 0.7)"> /billed yearly</span>
            </div>
            <p class="my-3" style="color: rgb(180,190, 255, 0.7)">Designed for scaling businesses, our Standard plan offers an expanded set of features</p>
            <label class="mt-1 mb-2"><strong>FEATURES</strong></label>
            <ul class="list-unstyled mb-3 d-flex flex-fill flex-column gap-3">
                <li class="d-flex align-items-center gap-2">
                    <i class="fa fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    Get 5 Free User Licences
                </li>
                <li class="d-flex align-items-center gap-2">
                    <i class="fa  fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    1 Free International Number
                </li>
                <li class="d-flex align-items-center gap-2">
                    <i class="fa fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    10Gb Free Storage Space
                </li>
                <li class="d-flex align-items-center gap-2">
                    <i class="fa fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    AI Copilot (up-to 4000tokens)
                </li>
                <li class="d-flex align-items-center gap-2">
                    <i class="fa fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    Premium Support
                </li>
            </ul>
            <div class="w-100 mt-4 d-flex justify-content-center">
                <a class="px-5 text-black py-2 bg-blue onhover-opacity-90" style="border-radius: 20px;">CONTACT US</a>
            </div>
        </div>






        <div class="card-x3 col-11 px-4 py-4 d-flex flex-column" style="background-color: black; border: 1px solid white; border-radius: 7px">
            <div class="d-flex mt-3 mb-4 gap-3 align-items-center">
                <div class="bg-blue px-4 py-1 fs-6" style="border-radius: 30px">Premium</div>
            </div>
            <div class="d-flex align-items-baseline">
                <h3>N$7500</h3>
                <span class="ms-2" style="color: rgb(180,190, 255, 0.7)"> /billed yearly</span>
            </div>
            <p class="my-3" style="color: rgb(180,190, 255, 0.7)">Tailored for large organizations, our Premium plan provides a comprehensive suite of tools</p>
            <label class="mt-1 mb-2"><strong>FEATURES</strong></label>
            <ul class="list-unstyled mb-3 d-flex flex-fill flex-column gap-3">
                <li class="d-flex align-items-center gap-2">
                    <i class="fa fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    Get 7 free user licences
                </li>
                <li class="d-flex align-items-center gap-2">
                    <i class="fa  fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    2 Free International Numbers
                </li>
                <li class="d-flex align-items-center gap-2">
                    <i class="fa fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    50Gb Free Stowage Space
                </li>
                <li class="d-flex align-items-center gap-2">
                    <i class="fa fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    AI Copilot (unlimited tokens)
                </li>
                <li class="d-flex align-items-center gap-2">
                    <i class="fa fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    Get the macOS and IOS apps
                </li>
                <li class="d-flex align-items-center gap-2">
                    <i class="fa fa-dot-circle text-blue" style="font-size: 1.5em"></i>
                    Early access to New Features
                </li>
            </ul>
            <div class="w-100 mt-4 d-flex justify-content-center">
                <a class="px-5 text-black py-2 bg-blue onhover-opacity-90" style="border-radius: 20px;">CONTACT US</a>
            </div>
        </div>


    </div>
</div>





<div>
    <div>
        <h2>Let us discuss your company's strategy!</h2>
        <div style="height:1em; width: 5em; background: linear-gradient(to right, blue, white)"></div>
        <div>
            <label>Org.nr: 264 818445678</label>
            <label>Katutura</label>
            <label>info@LegalDebtWebsiteDotNet7.com</label>
            <label>+264-61-124-4345</label>
        </div>
        <div>
            <i class="fa fa-facebook text-blue"></i>
            <i class="fa fa-twitter text-blue"></i>
            <i class="fa fa-linkedin text-blue"></i>
            <i class="fa fa-instagram text-blue"></i>
        </div>
        <a class="border-blue px-4 py-2 fw-bold">Book a free consultation</a>
    </div>
    <div>
        <h6>Or you can also contact us here</h6>
        <form>
            <InputText @bind-Value="name" placeholder="Name"></InputText>
            <InputText @bind-Value="email" placeholder="Email"></InputText>
            <InputText @bind-Value="subject" placeholder="Subject"></InputText>
            <InputTextArea @bind-Value="message" placeholder="Message"></InputTextArea>
            <a class="bg-blue w-100 text-decoration-none fw-bold py-2">Send</a>
        </form>
    </div>
</div>



@code{
    string name = string.Empty;
    string email = string.Empty;
    string subject = string.Empty;
    string message = string.Empty;
}