<section class="text-center perfect-solutions mt-5">
    <div class="d-flex flex-column align-items-center">
        <h2 class="fw-bold">
            The Perfect Solution For Your Business
        </h2>
        <p class="col-lg-7" style="line-height: 1.8; margin-top: 2em; margin-bottom: 5em">
            Embrace the future with A.I Integration and Intelligent Insights. Get graphs displaying your
            performance for metrics like your revenue and average time to debt lrecovery.
        </p>
    </div>
    <div class="d-flex flex-wrap flex-md-nowrap mb-5 pb-5 gap-3 justify-content-center">
        <div class="py-4 card-x3 col-12 col-sm-11 col-md-3 gap-2 px-3 d-flex flex-column align-items-start justify-content-between border-white" style="background-color: rgba(124,93,22,0.4); border-radius: 15px;">
            <div class="mt-2 mb-1 d-flex align-items-center justify-content-center" style="background-color: white; height: 5em; width: 5em; border-radius: 10px">
                <i class="fa fa-users-rays text-black fa-3x"></i>
            </div>
            <h6 class="text-white mt-4 fw-bold">Enhanced Client Communication</h6>
            <p class="text-white-50 flex-fill" style="text-align:justify; line-height: 2em">
                Seamlessly connect with your clients using our integrated communication platform. Utilize custom phone numbers with your law firm's name, send SMS and email notifications, schedule appointments, set reminders, and provide real-time updates to ensure effective and effortless communication with your clients.
            </p>
            <strong style="cursor: pointer" class="fw-bold text-secondary">Get Started >></strong>
        </div>
        <div class="py-4 card-x3 col-12 col-sm-11 col-md-3 gap-2 px-3 d-flex flex-column align-items-start justify-content-between border-white" style="background-color: rgba(34,73,42,0.4); border-radius: 15px;">
            <div class="mt-2  d-flex align-items-center justify-content-center mb-1" style="background-color: white; height: 5em; width: 5em; border-radius: 10px">
                <i class="fa fa-database text-black fa-3x"></i>
            </div>
            <h6 class="text-white mt-4 fw-bold">Ample Storage Space & Backup</h6>
            <p class="text-white-50 flex-fill" style="text-align:justify; line-height: 2em">
                Enjoy peace of mind with ample storage space for your legal files and documents, ensuring easy access, organization, and secure backups to protect your valuable data.
            </p>
            <strong style="cursor: pointer" class="fw-bold text-secondary">Get Started >></strong>
        </div>
        <div class="py-4 card-x3 col-12 col-sm-11 col-md-3 gap-2 px-3 d-flex flex-column align-items-start justify-content-between border-white" style="background-color: rgba(140,73,140,0.4); border-radius: 15px;">
            <div class="mt-2 mb-1  d-flex align-items-center justify-content-center" style="background-color: white; height: 5em; width: 5em; border-radius: 10px">
                <i class="fa-regular fa fa-arrows-to-circle text-black fa-3x"></i>
            </div>
            <h6 class="text-white mt-4 fw-bold">User Centric Development</h6>
            <p class="text-white-50 flex-fill" style="text-align:justify; line-height: 2em">
                At Legal Debt, we prioritize our customers' needs. As a valued client, you can actively participate in shaping the future of our software by providing feedback and suggestions, knowing that we are committed to developing features and functionalities that align with your requirements.
            </p>
            <strong style="cursor: pointer" class="fw-bold text-secondary">Get Started >></strong>
        </div>
    </div>
</section>