<section class="m-0 mt-5 pt-5" style="">
    <div class=" container px-5 pt-5" style="margin-top: 1px;">
        <div class="d-flex align-items-center justify-content-between mb-5 mx-lg-5">
            <div class="d-flex position-relative align-items-center" style="height: 10em; width: fit-content">
                <div style="background-color: silver; height: 6em; width: 6em; border-radius: 100%; position: absolute; left: -4.7em; top: -2.3em; z-index: -1">
                    <div class="w-100 h-100 fw-bolder ms-3 mt-2" style="font-size: 3em">
                        <i class="fa fa-quote-left-alt"></i>
                    </div>
                </div>
                <div style="font-size: 3.4em; line-height: 1.4em">What Our Customer<br /> are Saying</div>
            </div>
            <div class="d-flex align-items-center gap-4">
                <i class="fa fa-sharp fa-arrow-left text-white-50" style="font-size: 2em"></i>
                <i class="fa fa-sharp fa-arrow-right text-white" style="font-size: 4em"></i>
            </div>
        </div>
        <div class="d-flex justify-content-around my-5 py-5 align-items-center">
            <div class="col-lg-4 d-flex flex-column justify-content-between" style="height: 300px">
                <h4>Simplified Debt Management</h4>
                <p class="" style="color: silver; height: 9em">
                    " Legal Debt has revolutionized our firm's debt management process. With its intuitive interface and powerful features,
                    we can easily track client payments, identify outstanding debts, and make informed. decisions. It has greatly improved
                    our efficiency and client satisfaction. "
                </p>
                <div class="d-flex gap-3">
                    <div style="height: 4em; width: 4em; border-radius: 100%; background-color:aliceblue"></div>
                    <div class="text-secondary"><strong class="text-white">Nashilongo Nashilongo</strong><br /> LegalDebt Client</div>
                </div>
            </div>
            <div style="height: 15em; width:1px; background-color: silver"></div>
            <div class="col-lg-4 d-flex flex-column justify-content-between" style="height: 300px">
                <h4>Really love Connect360. Efficient Communication with Clients.</h4>
                <p class="" style="color: silver;">
                    " Connect360 has been a game-changer within the communication space.
                    We can now send bulk SMS messages to our clients with ease, ensuring timely reminders and updates. "
                </p>
                <div class="d-flex gap-3">
                    <div style="height: 4em; width: 4em; border-radius: 100%; background-color:aliceblue"></div>
                    <div class="text-secondary"><strong class="text-white">Nashilongo Nashilongo</strong><br /> LegalDebt Client</div>
                </div>
            </div>
        </div>
    </div>
</section>