<section class="d-flex align-items-baseline">
    <div class="d-flex flex-column gap-3 py-5 col-5">
        <h2>Now available for Android and IOS. Download Now!</h2>
        <p>
            Discover the power of LegalDebt at your fingertips. Our app is now available for download on the App Store,
            providing you with seamless access to our innovative debt management solution. Take control of your legal
            practice and streamline your debt recovery process with just a few taps. Download now and experience the
            convenience and efficiency of LegalDebt on your mobile device
        </p>
        <div class="d-flex align-items-center  gap-3">
            <img src="/Mobile playstore badge.svg" class="onhover-opacity-90" style="height: 4.5em;" />
            <img src="/Mobile app store badge.svg" class="onhover-opacity-90" style="height: 4.5em;" />
        </div>
    </div>
    <div class="flex-fill">
        <img src="/Group 3.svg" style="width: 100%" />
    </div>
</section>