<section class="mt-5">
    <div class="d-flex justify-content-around py-5" style="background-color: rgba(0,0,60,1);">
        <div class="d-flex align-items-center gap-3">
            <div class="d-flex align-items-center justify-content-center" style="width: 4em; height: 4em; background-color: violet; border-radius: 5px">
                <i class="fa-regular fa-2x fa-check-square text-black"></i>
            </div>
            <div class="d-flex flex-column">
                <label>Super useful and easy to use</label>
                <label>over 30+ customizations!</label>
            </div>
        </div>
        <div class="d-flex align-items-center gap-3">
            <div class="d-flex align-items-center justify-content-center" style="width: 4em; height: 4em; background-color: beige; border-radius: 5px">
                <i class="fa-regular fa-2x fa-clock text-black"></i>
            </div>
            <div class="d-flex flex-column">
                <label>Super useful and easy to use</label>
                <label>over 30+ customizations!</label>
            </div>
        </div>
        <div class="d-flex align-items-center gap-3">
            <div class="d-flex align-items-center justify-content-center" style="width: 4em; height: 4em; background-color: skyblue; border-radius: 5px">
                <i class="fa fa-2x fa-arrow-up-from-bracket text-black"></i>
            </div>
            <div class="d-flex flex-column">
                <label>Super useful and easy to use</label>
                <label>over 30+ customizations!</label>
            </div>
        </div>
    </div>
</section>