<div class="w-100 h-100 d-flex justify-content-center">
    <BlazorBootstrap.Modal Class="text-dark h-100" @ref="modal" title="Settings" Style="height: 800px" Size="BlazorBootstrap.ModalSize.ExtraLarge" UseStaticBackdrop="true">
        <BodyTemplate>
            <Settings></Settings>
        </BodyTemplate>
    </BlazorBootstrap.Modal>
</div>

@code{
    private BlazorBootstrap.Modal modal = default!;

    public async Task OnShowModalClick()
    {
        await modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }
}
