@inherits LayoutComponentBase

<section class="auth">
    @Body
</section>
<style>
    .auth{
        background-image: url('../image 2.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }
</style>

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

@code {

}