@inherits LayoutComponentBase

<div class="px-1 d-flex align-items-center justify-content-between sticky-top text-white bg-black" style="border-bottom: 1px solid white; height: 60px;">
    <a class="text-decoration-none p-0" style="letter-spacing:1px" href="#">
        <img src="/logo-3w.png" height="40" alt="LegalDebt Logo" />
    </a>
    <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="d-flex align-items-center list-unstyled m-0 gap-4">
        <li class="nav-item mx-0 p-0">
            <div><CreateNew></CreateNew></div>
        </li>
        <li class="nav-item me-0 p-0">
            <RadzenProfileMenu Style="background-color: transparent; color: white; padding:0">
                <Template>
                    <Icon Class="" Name="IconName.PersonCircle" Size="IconSize.x2"></Icon>
                </Template>
                <ChildContent>
                    <RadzenProfileMenuItem Text="Login" Path="userauth" Icon="account_circle"></RadzenProfileMenuItem>
                </ChildContent>
            </RadzenProfileMenu>
        </li>
    </ul>
</div>

<div class="container-fluid" style="">
    <div class="row flex-nowrap d-flex" style="">
        <div class="bg-black sb p-0" style="color: white;">
            <NavMenu />
        </div>
        <div class="flex-fill p-0" style="background-color: rgba(0, 0, 255, 0.1);">
            <div class="" style="overflow-y: auto; height: calc(100vh - 61px); width: calc(100vw - 61px)">
                @Body
            </div>
        </div>
    </div>
</div>

<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />

@code{

}