<div style="" class="pt-3">
    <nav class="flex-column d-flex g-4 gap-4">
        <NavLink class="nav-link link p-0 flex-column d-flex justify-content-start align-items-center" style="line-height: 1.2em" href="" Match="NavLinkMatch.All">
            <Icon Name="IconName.HouseDoor" Size="IconSize.x4"></Icon>
            <span style="font-size:0.7em; letter-spacing:0.1em" class="m-0">Home</span>
        </NavLink>
        <NavLink class="nav-link p-0 flex-column d-flex justify-content-start align-items-center" style="line-height: 1.2em" href="clientlookup">
            <Icon Class="" Name="IconName.Search" Size="IconSize.x5"></Icon> 
            <span style="font-size:0.7em; letter-spacing:0.1em" class="m-0">Lookup</span>
        </NavLink>
        <NavLink class="nav-link p-0 flex-column d-flex justify-content-start align-items-center" style="line-height: 1.2em" href="analytics">
            <Icon Class="" Name="IconName.Activity" Size="IconSize.x4"></Icon>
            <span style="font-size:0.7em; letter-spacing:0.1em" class="m-0">Analytics</span>
        </NavLink>
        <NavLink class="nav-link p-0 flex-column d-flex justify-content-start align-items-center" style="line-height: 1.2em" href="connect360">
            <Icon Class="" Name="IconName.EnvelopeCheck" Size="IconSize.x4"></Icon>
            <span style="font-size:0.7em; letter-spacing:0.1em" class="m-0">Connect360</span>
        </NavLink>
        <NavLink class="nav-link p-0 flex-column d-flex justify-content-start align-items-center" style="line-height: 1.2em" href="violaai">
            <Icon Class="" Name="IconName.Geo" Size="IconSize.x4"></Icon>
            <span style="font-size:0.7em; letter-spacing:0.1em" class="m-0">ViolaAI</span>
        </NavLink>
        <NavLink class="nav-link p-0 flex-column d-flex justify-content-start align-items-center" style="line-height: 1.2em" href="/newfile/existingclient">
            <Icon Class="" Name="IconName.UiChecksGrid" Size="IconSize.x4"></Icon> 
            <span style="font-size:0.7em; letter-spacing:0.1em" class="m-0">Add File</span>
        </NavLink>
        <NavLink class="nav-link p-0 flex-column d-flex justify-content-start align-items-center" style="line-height: 1.2em" href="/newfile/newclient">
            <Icon Class="" Name="IconName.PersonPlus" Size="IconSize.x4"></Icon>
            <span style="font-size:0.7em; letter-spacing:0.1em" class="m-0">New File</span>
        </NavLink>
        <NavLink class="nav-link p-0 flex-column d-flex justify-content-start align-items-center" style="line-height: 1.2em" href="userlogin">
            <Icon Class="" Name="IconName.Person" Size="IconSize.x4"></Icon> 
            <span style="font-size:0.7em; letter-spacing:0.1em" class="m-0">Login</span>
        </NavLink>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
